@import "../../../../styles/variables";

.root {
  padding: 3% 0;
  flex-direction: column;
  background: $primary;

  & img {
    background: none;
  }
}
.desc {
  width: 585px;
  font-weight: 200;
  font-size: 16px;
  line-height: 25px;
  padding: 2% 0;
  color: $white;
  text-align: center;
  background: none;
}
.btnGrid {
  background: none;
  & img {
    padding: 10px;
  }
}
.socials {
  background: none;
  padding: 45px 30px;

  & svg {
    background: none;
    width: 100px;
    font-size: 45px;
    color: $white;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    width: 100%;
  }
  .desc {
    width: 100%;
    margin-top: 3%;
  }
  .btnGrid {
    img {
      width: 165px;
    }
  }
  .socials {
    & svg {
      font-size: 30px;
      width: 80px;
    }
  }
}
