@import "../variables";

.btn {
  width: 92px;
  height: 32px;
  border-radius: 4px;
  color: $white;
  border: none;
}
.btn-primary {
  background: $primary;
  border-radius: 4px;
  color: $white;
  text-align: center;
  &:hover {
    cursor: pointer;
    background: $btn-hover;
    transition: all 0.3s ease-in;
  }
}
.btn-light {
  background: $white;
  border-radius: 4px;
  color: $primary;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.btn-md {
  width: 140px;
  height: 40px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
