@import "./variables";
@import "./components/button.scss";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: $bg-primary;
}
